@{
    // Il servizio IStringLocalizer si trova nel namespace Microsoft.Extensions.Localization
    // Quindi è stato aggiunto uno @using Microsoft.Extensions.Localization a /Views/Shared/_ViewImports.cshtml

    // Determiniamo qual è il capitolo corrente così che possiamo evidenziare il link relativo
    var currentChapter = "";
    if (Context.Request.RouteValues["controller"] as string == "Book")
    {
        currentChapter = Context.Request.RouteValues["action"] as string;
    }
}
@inject IStringLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asp.NET Core Localization Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspnetcoreLocalizationDemo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="@(currentChapter == "Chapter1" ? "nav-link active" : "nav-link")" asp-controller="Book" asp-action="Chapter1">@localizer["Chapter1.Title"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="@(currentChapter == "Chapter2" ? "nav-link active" : "nav-link")" asp-controller="Book" asp-action="Chapter2">@localizer["Chapter2.Title"]</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @localizer["Language"]
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-route-language="it">Italiano</a>
                                    <a class="dropdown-item" asp-route-language="en">English</a>
                                    <a class="dropdown-item" asp-route-language="fr">Français</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AspnetcoreLocalizationDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
